'LaboratoryWork1/main/Debug 
'LaboratoryWork1/main/Debug' 
'LaboratoryWork1/main/Debug/' 
'LaboratoryWork1/main.vcxproj' 
LaboratoryWork1/main/Debug 
LaboratoryWork1/main.vcxproj 
LaboratoryWork1/main/main.vcxproj 
LaboratoryWork1/main/main.vcxproj.filters 
LaboratoryWork1/main/main.vcxproj.user 
.vs/ 
LaboratoryWork1/main/main/ 
